  <!DOCTYPE html>
<html lang="en">
 
<!DOCTYPE html>
<html>
    <head>
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://static.awwapp.com/plugin/1.0/excanvas.min.js"></script>
        <![endif]-->    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>
        </title>
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
        rel="stylesheet">

        <link rel="stylesheet" type="text/css"
            href="http://static.awwapp.com/plugin/1.0/aww.css"/>
        <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript"
            src="http://static.awwapp.com/plugin/1.0/aww.min.js"></script>

        <style type="text/css">
            #wrapper {
                border: 1px solid black;
                width: 90%;
                height: 300px;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>

    <body background="../images/Melamine-wood-001.png">
    <div class="container">
      <div class="container">
          <div id="wrap">
        <h1>Chat</h1>
        <div class="row"><br>
      <div class="col-md4 col-md-4" style="display: block;" id="row1">
        <img src="images/user1.jpg" id="img1"
        width="70" height="70">
         <b>Byron</b>
         <!-- Button trigger modal -->
          <button class="btn btn-primary btn-mini" data-toggle="modal" data-target="#myModal2" id="modal2">
            message
          </button>

      </div> <br>
      <div class="col-md4 col-md-4" style="display: block;" id="row1">
        <img src="images/lizzy.jpg" id="img1"
        width="70">
         <b>Lizzy</b>
        <button class="btn btn-primary btn-mini" data-toggle="modal" data-target="#myModal3" id="modal2">
            message
          </button>
      </div> <br>
      <div class="col-md-4" id="row1">
        <img src="images/ryan.jpg"
        width="70" height="70" id="img1">
        <b> Ryan</b>
        <button class="btn btn-primary btn-mini" data-toggle="modal" data-target="#myModal4" id="modal2">
            message
          </button>
        <h3>
        </h3>
      </div>
      </div>
  </div>
    </div>

    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse"
    role="navigation" id="navbar">
      <div class="navbar-header">
        <a class="navbar-brand pull-left" href="homescreenboot">Home</a>
        <a class="navbar-brand" href="payboot"> Pay </a>
        <a class="navbar-brand" href="whiteboardboot">Board</a>
        <a class="navbar-brand" href="chat">Chat </a>
      </div>
    </nav>


    <STYLE>
    h1{
    font-size: 200%;
    text-align: center;
    }

    #wrapper{
      height:500px;
    };

    #modal2{
      float:right;
      vertical-align: middle;
    }

    #row1{
        background: rgba(54, 25, 25, .3);
    }

    </STYLE>
</html>

