<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
    </title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
  </head>
  
  <body background="../images/Melamine-wood-001.png">
    <div id="wrap">
      <div class="container" id="head">
        <div class="page-header">
          <h3 class="text-center">
            Welcome Home
          </h3>
        </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
      >
      </script>
      <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
      >
      </script>
      <div id="footer">
      </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse"
    role="navigation" id="navbar">
      <div class="navbar-header">
        <a class="navbar-brand pull-left" href="homescreenboot">Home</a>
        <a class="navbar-brand" href="pay">&nbsp; Pay &nbsp;</a>
        <a class="navbar-brand" href="whiteboard">Board</a>
        <a class="navbar-brand" href="chat">Chat &nbsp;&nbsp;</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Link</a>
          </li>
          <li>
            <a href="#">Link</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>

  <STYLE>
    h3{
    font-family: 'Cabin Sketch', cursive;
    font-size: 250%;
    }

  </STYLE>

</html>