   <!DOCTYPE html>
   <html lang="en">

  <head>
    <meta charset="utf-8">
    <title> Welcome Home
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
    rel="stylesheet">
    <link href="../css/background.css"
    rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
  </head>

   <body background="../images/Melamine-wood-001.png">
    <div class="container">
        <div class="jumbotron">
          <h1 class="text-center">
            Welcome Home
          </h1>
          <p class="text-center">
            A Centralized Roommate Logistics Application
          </p>
          <p>
          </p>
        </div>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
      >
      </script>
      <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
      >
      </script>
      <div class="row">
        <div class="col-md-6">
          <h3>
            Login
          </h3>
          <p>
          </p>
          <form>
            <div class="form-group">
              <input type="text" class="form-control">
            </div>
          </form>
          <p>
          </p>
        </div>
        <div class="col-md-6">
          <h3>
            Password
          </h3>
          <p>
          </p>
        </div>
      </div>
      <form>
        <div class="form-group">
          <input type="text" class="form-control">
        </div>
      </form>

      <div id="paycenter" class="span7 text-center">
        <a href="home" class="btn btn-default btn-lg" id="login">Login</a>
      </div>
    </div>

  </body>

   <STYLE type="text/css">
   .jumbotron{

    background: rgba(54, 25, 25, .1);
   }

   h3{
    font-size: 200%;
    text-align: center;
   }

   h1{
    font-family: 'Cabin Sketch', cursive;
    font-size: 250%;
   }

   paycenter{
     float: none;
     margin-left: auto;
     margin-right: auto;

   }

   #login{
    background-color: black;
    color: white;
   }


   </STYLE>

</html>
