   <!DOCTYPE html>
   <html lang="en">

  <head>
    <meta charset="utf-8">
    <title> Welcome Home
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
    rel="stylesheet">
  </head>

   <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="text-center">
          Welcome Home
        </h1>
        <p class="text-center">
          A Centralized Roommate Logistics Application
        </p>
        <p>
        </p>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
    >
    </script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
    >
    </script>
    <div class="row">
      <div class="col-md-6">
        <h3>
          Login
        </h3>
        <p>
        </p>
        <form>
          <div class="form-group">
            <label>
              Text
            </label>
            <input type="text" class="form-control">
          </div>
        </form>
        <p>
        </p>
      </div>
      <div class="col-md-6">
        <h3>
          Password
        </h3>
        <p>
        </p>
      </div>
    </div>
    <form>
      <div class="form-group">
        <label>
          Text
        </label>
        <input type="text" class="form-control">
      </div>
    </form>
    <a href="screen-d42a18dd2c.html" class="btn btn-default btn-lg" id="login">Login</a>
  </body>

</html>