<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
    </title>

    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-lightbox">
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
  </head>
  
  <!-- TEXT HEAD -->

  <body background="../images/Melamine-wood-001.png">
    <div id="wrap">
      <div class="container" id="head">

          <h3 class="text-center">
            Welcome Home
          </h3>

      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
      >
      </script>
      <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
      >
      </script>
      <div id="footer">
      </div>
    </div>


    <!-- Button trigger modal -->
<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
  Add Announcement
</button>
    <!-- ANNOUNCEMENT BAR -->

    <br>
    <div class="span3">
    <p><b id='boldStuff2'></b> 
    </p>
    <p><b>Announcements</b></p>
    <ul id="demo">
    </ul>

    <ul>       
      <li>2/27/14: Going to the grocery store tomorrow. Message me if you need anything. -Byron </li>
      <li>2/25/14: Rent is due at the end of the month you guys. </li>
      <li>2/22/14: Study group at Starbucks? I'm paying! -Ryan </li>
      <li>2/20/14: Hey everyone, lets go to the lakers game next weekend! Lemme know if you're down! -Lizzy</li>
    </ul>
    </div>

        <div class="row"><br>
      <div class="col-md4 col-md-4" style="display: block;" id="row1"  data-toggle="modal" data-target="#myModal2" id="modal2">
        <img src="images/user1.jpg" id="img1"
        width="70" height="70">
         <b>Byron Inocencio      </b>
         <!-- Button trigger modal -->
         

      </div> <br>
      <div class="col-md4 col-md-4" style="display: block;" id="row1" data-toggle="modal" data-target="#myModal3" id="modal2">
        <img src="images/lizzy.jpg" id="img1"
        width="70">
         <b>Lizzy Cowan </b>

      </div> <br>
      <div class="col-md-4" id="row1"  data-toggle="modal" data-target="#myModal4" id="modal2">
        <img src="images/ryan.jpg"
        width="70" height="70" id="img1">
        <b> Ryan Chan </b>

        <h3>
        </h3>
      </div>
      </div>
    </div>

    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse"
    role="navigation" id="navbar">
      <div class="navbar-header">
        <a class="navbar-brand pull-left" href="homescreenboot">Home</a>
        <a class="navbar-brand" href="payboot"> Pay </a>
        <a class="navbar-brand" href="whiteboardboot">Board</a>
        <a class="navbar-brand" href="chat">Chat </a>
      </div>
    </nav>

<!-- Modal  Announcements-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Your Announcement</h4>
      </div>
      <div class="modal-body">
          <input type="text" id="firstname">
 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type='button' class="btn-primary" onclick='changeText2()' value='Submit' />

      </div>
    </div>
  </div>
</div>
  

  <!-- Modal Row1 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Byron Inocencio</h4>
      </div>
      <div class="modal-body">
        <b>Phone Number</b>: <br>(111) 111-1111<br>
        <b>Email:</b> <br>binocenc@ucsd.edu<br>
        <b>Emergency Contact:</b> <br> (111) 111-1111<br>
        <b>Schedule:</b></br> <a href="https://www.dropbox.com/s/4yztj7x91zyylnq/mysched.jpg">Schedule</a>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <!-- Modal Row2 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Lizzy Cowan</h4>
      </div>
      <div class="modal-body">
        <b>Phone Number</b>: <br>(222) 222-2222<br>
        <b>Email:</b> <br>lizzy@ucsd.edu<br>
        <b>Emergency Contact:</b> <br> (222) 222-2222<br>
        <b>Schedule:</b></br> <a href="https://www.dropbox.com/s/4yztj7x91zyylnq/mysched.jpg">Schedule</a>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <!-- Modal Row3 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Ryan Chan</h4>
      </div>
      <div class="modal-body">
        <b>Phone Number</b>: <br>(222) 222-2222<br>
        <b>Email:</b> <br>ryaniscool@ucsd.edu<br>
        <b>Emergency Contact:</b> <br> (333) 333-3333<br>
        <b>Schedule:</b></br> <a href="https://www.dropbox.com/s/4yztj7x91zyylnq/mysched.jpg">Schedule</a>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48709258-1', 'welcomehomefinal3.herokuapp.com');
  ga('send', 'pageview');

</script>

</body>



  <!-- CSS -->
  <STYLE>
    h3{
    /*font-family: 'Cabin Sketch', cursive;*/
    font-size: 250%;
    }

    #img1{
      padding-left: 5px;
    }

    .span3{
      height: 80px !important;
      overflow: scroll;
      background: rgba(54, 25, 25, .4);
    }

    body{
      padding-bottom: 50px;
      overflow-x: hidden;
    }

    #row1{

           background: rgba(54, 25, 25, .3);

    }

    #modal2{
      float:right;
      vertical-align: middle;
    }


}

  </STYLE>

  <SCRIPT>

  var list = document.getElementById('demo');

  function changeText2() {
    var firstname = document.getElementById('firstname').value;

    <!-- THIS SHOWS THE INPUT -->
    <!--document.getElementById('boldStuff2').innerHTML = firstname; -->
    var entry = document.createElement('li');
    entry.appendChild(document.createTextNode(firstname));
    list.appendChild(entry);
    $('#myModal').modal('hide') 
    }

    // Using jQuery Event API v1.3
$('#row1').on('click', function() {
  ga('send', 'event', 'button', 'click', );
});



  </SCRIPT>



</html>